.header {
  background: #1b1b1b;
  &__toggle {
    display: none;
  }
  &__nav {
    height: 60px;
  }
  &__list {
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  &__item {
    display: flex;
    margin-left: 23px;
    &:first-child {
      margin-left: 0;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
  }
}
