.travel {
  position: relative;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 60px -20px 34px 0;
}

.card-item {
  width: 290px;
  background-color: #fff;
  margin-right: 20px;
  margin-bottom: 24px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12);
  &__img {
    display: block;
    height: 330px;
    background: url("../img/img_item_2@2x.png") center center/cover no-repeat;
    &_1 {
      background: url("../img/img_item_1@2x.png") center center/cover no-repeat;
    }
    &_2 {
      background: url("../img/img_item_3@2x.png") center center/cover no-repeat;
    }
  }
  &__content {
    width: 100%;
    margin: 0 auto;
    padding: 18px 20px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
  }
  &__title {
    font-size: rem(20px);
    color: $main-font-color;
    text-transform: uppercase;
  }

  &__rating {
    font-size: rem(26px);
    font-weight: bold;
    color: #000000;
  }
  &__subtext {
    font-size: rem(16px);
    line-height: rem(20px);
    color: $main-font-color;
    &:last-of-type {
      margin-top: 10px;
    }
  }
}
