* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

input,
button {
  border: none;
  padding: 0;
  outline: none;
}

body {
  background: #353c48;
}

.page {
  position: relative;
  height: 100vh;
  &__container {
    width: 490px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__header {
    font-size: 37px;
    color: #fff;
    text-align: center;
    margin-bottom: 35px;
  }
  &__text {
    width: 100%;
    background: #ffffff;
    border-radius: 3px;
    font-size: 16px;
    line-height: 27px;
    font-weight: bold;
    color: #6b86a8;
    &:nth-child(2) {
      padding: 28px 38px 27px 30px;
      margin-bottom: 43px;
    }
    &:nth-child(3) {
      padding: 22px 61px 22px 33px;
      margin-bottom: 35px;
    }
    &:nth-child(4) {
      padding: 24px 38px 30px 30px;
    }
  }
  &__form {
    font-size: 0;
    width: 100%;
    margin-top: 35px;
  }
  &__input {
    width: 320px;
    height: 54px;
    margin-right: 7px;
    border-radius: 3px;
    border: 1px solid #ececec;
    background-color: #fff;
    padding-left: 32px;
    font-size: 16px;
    font-weight: bold;
    &:placeholder {
      color: #cfcfcf;
    }
  }
  &__btn {
    padding: 18px 34px 18px 36px;
    text-align: center;
    background: #ff5b1c;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    &:hover {
      background: #f1581c;
    }
    &:active {
      background: #ca4915;
      box-shadow: 0 0 20px #862b07 inset;
    }
  }
}

.social {
  margin-top: 100px;
  text-align: center;
  &__link {
    display: inline-block;
    margin-right: 27px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__icon {
    &:first-child {
      width: 14px;
      height: 14px;
    }
    &:nth-child(2) {
      width: 16px;
      height: 14px;
    }
    &:last-child {
      width: 16px;
      height: 16px;
    }
  }
}
