@import "base/reset";
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/functions";
@import "components/container";
@import "components/titles";
@import "components/buttons";
@import "components/header";
@import "components/subtext";
@import "components/search";
@import "components/plus";
@import "components/travel";
@import "components/room";
@import "components/footer";
@import "components/social";
@import "base/media";

body {
  background: #ffffff;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: ($root-font-size / 16px) * 100%; // Px to Rem
}
